body {
    font-family: sans-serif;
}

header b {
    color: #06266F;

}

header a {
    text-decoration: none;
    background-color: blue;
    border: 5px solid blue;
    border-radius: 7px;
    color: white;
}

header {
    border: 5px solid blue;
    border-radius: 10px;
}

h1 {
    color: #F9B612;
    border: 4px solid #7713A6;
    border-radius: 15px;
    text-align: center;
}

footer {
    background-color: #E167B1;
    padding: 8px;
}

footer p {
    background-color: white;
    padding: 7px;
}
